<div class="page-header">
	<h1>
	Built | by | Node <small>Tambayan - Stream</small>
	</h1>
</div>
	<ul class="breadcrumb">
				<li class="active">
					<a href="/"><i class="icon-home"></i>Home</a><span class="divider">/</span>
				</li>
				<li>
					<a href="#profile/me"><i class="icon-user	"></i> My Profile</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="#contacts/me"><i class="icon-phone-sign"></i>My Contacts</a> 
				</li>
				
				<li class="pull-right">
					<a href="/"><i class="icon-home"></i>Home</a>
				</li>
			</ul>
<form>
  <p>
    <label>
      Name or Email:
      <input type="text" name="searchStr" placeholder="Email address"/>
    </label>
  </p>

  <p>
    <input type="submit" class="btn btn-info"value="Search Now" />
  </p>
</form>

<div id="results"></div>