<h1>Login</h1>

<form>
<fieldset>
  <legend>Credentials</legend>
  <div class="alert alert-error" id="error">
  </div>

  

  <label>
    Email: </label>
    <input type="text" name="email" placeholder="Email Address:"/>
 

  <br />

  <label>
    Password: </label>
    <input type="password" name="password"placeholder= "Password">
 

  <br />

  <button  class ="btn btn-info"type="submit"><i class="icon-signin"></i> Login now</button>
</fieldset>
</form>

<ul>
  <li><a href="#forgotpassword">Forgot Password?</a></li>
  <li><a href="#register">Sign Up</a></li>
</ul>
