<h1>Register</h1>

<form>
<fieldset>
<div class="alert alert-error" id="error">
  </div>
  <div class="alert alert-success" id="success">
  </div>

<legend>Name</legend>
  <label>
    First Name : </label>
    <input type="text" name="firstName" placeholder="First Name" />
 

  <label>
    Last Name: </label>
    <input type="text" name="lastName" placeholder="Last Name"/>
  </label>
</fieldset>

<fieldset>
  <legend>Email Address</legend>

  <label>
    Email: </label>
    <input type="text" name="email" placeholder="Email Address"/>
 

  <br />

  <label>
    Email (confirm): </label>
    <input type="text" name="cemail" placeholder="Email Address" />
 
</fieldset>

<fieldset>
  <legend>Password</legend>

  <label>
    Password:</label>
    <input type="password" name="password"placeholder="Password" />
  

  <br />

  <label>
    Password (confirm): </label>
    <input type="password" name="cpassword" placeholder="Password"/>
 
</fieldset>

<p>
<button type="submit" class="btn btn-success"><i class="icon-ok"></i> Register</button>

</p>
</form>
